html, body {
	height: 100%;
	margin-bottom: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
}
a:link {
	color: #999999;
	font-size: 12px;
}
a:visited {
	color: #999999;
	font-size: 12px;
}
.1 {
	background-image: url(images/index_03.gif);
	background-repeat: repeat-x;
}
.2 {

	background-image: url(images/index_02.gif);
	background-repeat: repeat-x;
}
.3 {

	background-image: url(images/index_01.gif);
}
