<%@ Page Language="C#" Trace="False" %>

<%@ Import Namespace="System.Security.Cryptography" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="Utility" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.Odbc" %>
<%@ Import Namespace="System.Configuration" %>
<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        String tempFilename = string.Empty;
        if (Convert.ToBoolean(ConfigurationManager.AppSettings["isDev"]))
            tempFilename = "c:\\temp\\dlm\\temp" + DateTime.Now.ToString("hh_mm_ss_tt") + ".tmp"; //System.IO.Path.GetRandomFileName();
        else
            tempFilename = "D:\\dlm_ftproot\\temp" + DateTime.Now.ToString("hh_mm_ss_tt") + ".tmp"; //System.IO.Path.GetRandomFileName();
        String filename = null;
        String actualFileName = null;
        string connStr = string.Empty;
        if (Convert.ToBoolean(ConfigurationManager.AppSettings["isDev"]))
            connStr = ConfigurationManager.ConnectionStrings["DownloadManagerDEV"].ToString();
        else
            connStr = ConfigurationManager.ConnectionStrings["DownloadManagerPROD"].ToString();

        OdbcConnection conn = new OdbcConnection(connStr);
        OdbcDataReader reader = null;

        conn.Open();
        OdbcCommand delCommand = new OdbcCommand("SELECT FilePath FROM FileKey WHERE DeleteLater = 1 AND FilePath NOT IN (SELECT FilePath FROM FileKey WHERE DeleteLater = 0)", conn);
        reader = delCommand.ExecuteReader();
        while (reader.Read())
        {
            filename = reader.GetString(0);
            if (System.IO.File.Exists(filename))
                System.IO.File.Delete(filename);
        }
        filename = null;
        reader.Close();
        conn.Close();
        
        OdbcCommand cCommand = new OdbcCommand("SELECT FilePath,MaxDownloadCount,DownloadCount," +
                                                "Email,ActualFileName FROM FileKey WHERE RTRIM(FileKey)='" +
                                                 Request.QueryString["key"].Trim() +
                                                 "'", conn);

        int intByteSize = 1024 * 800; // send chunks of 800 kbytes at a time
        int intOffset;
        double estTime;
        int intFileChunks;
        int intTotalFileDownLoaded = 0;
        int totalDownloads = 0;
        int expectedDownloads = 0;
        bool deleteIt = false;
        String email = null;

        try
        {
            if (Session["SAValid"] == null || !((Boolean)Session["SAValid"]))
            {
                Response.Redirect("Authenticate.aspx?key=" + Request.QueryString["key"].Trim());
                Response.End();
            }

            conn.Open();

            reader = cCommand.ExecuteReader();
            reader.Read();

            filename = reader.GetString(0);
            expectedDownloads = reader.GetInt32(1);
            totalDownloads = reader.GetInt32(2) + 1;
            email = reader.GetString(3);
            actualFileName = reader.GetString(4);

            if (actualFileName == String.Empty)
                actualFileName = Path.GetFileName(filename);

            //tempFilename = System.IO.Path.GetRandomFileName();
            System.IO.File.Copy(filename, tempFilename);

            //if (!Convert.ToBoolean(ConfigurationManager.AppSettings["isDev"]))
            //    Logger.LoggedEntry("<" + Request.UserHostAddress + "> DOWNLOAD NOTICE -" + email + " is downloading " + actualFileName);

            lblInfo.Text = filename;
            reader.Close();

            //if (HttpContext.Current.Request.UserHostAddress.StartsWith("::1"))
            if (HttpContext.Current.Request.UserHostAddress.StartsWith("192.168."))
                totalDownloads--;
            
            //Flag row for deletion if total downloads reach its limit
            if (totalDownloads >= expectedDownloads)
            {
                deleteIt = true;
            }

            

            
            string changeDeleteStatus = "UPDATE FileKey SET DeleteLater=" + Convert.ToByte(Convert.ToBoolean(deleteIt)) + "," +
                                                 "DownloadCount=" + totalDownloads +
                                                 "WHERE RTRIM(FileKey)='" +
                                                  Request.QueryString["key"].Trim() +
                                                 "';";

            string recordDownload = "INSERT INTO Downloads (EMail,FilePath,FileKey,ClientIP,DownloadDate) " +
                                                  "VALUES ('" + email + "','" + filename + "','" + Request.QueryString["key"].Trim() + "','" +
                                                            Request.UserHostAddress + "','" +
                                                            DateTime.Now.ToString() + "');";

            OdbcCommand inCommand = new OdbcCommand(changeDeleteStatus + recordDownload, conn);

            //OdbcCommand downloadCommand = new OdbcCommand("INSERT INTO Downloads (FilePath,FileKey,ClientIP,DownloadDate) " + 
            //                                     "VALUES ('"+ filename +"','"+ Request.QueryString["key"].Trim() + "','" + 
            //                                               Request.UserHostAddress +"','" + 
            //                                               DateTime.Now.ToString()+ "')",
            //                                               conn);

            System.IO.FileInfo fileToDownload = new System.IO.FileInfo(filename);
            intFileChunks = (int)Math.Ceiling((double)(fileToDownload.Length / intByteSize));

            String disHeader = "Attachment;Filename=\"" + actualFileName + "\"";

            // initialize the http content-disposition header to
            // indicate a file attachment

            Response.Clear();
            Response.BufferOutput = true;
            Response.AppendHeader("Content-Disposition", disHeader);
            Response.AddHeader("Content-Length", fileToDownload.Length.ToString());

            // set the http content type to APPLICATION/OCTET-STREAM
            Response.ContentType = "application/octet-stream";
            Response.Flush();

            //int intCount;
            for (int intCount = 0; intCount < intFileChunks + 1; intCount++)
            {
                //want to use Response.IsClientConnected but it's
                //freezing the system

                if (Response.IsClientConnected)
                {
                    intOffset = intCount * intByteSize;

                    //intByteSize is probably larger than the final chunk of
                    //data so figure how big that last chunk is so the end
                    //data size isn't past the end of the file

                    if ((intOffset + intByteSize) > (int)fileToDownload.Length)
                    {
                        intByteSize = (int)(fileToDownload.Length - intOffset);
                    }

                    estTime = Math.Ceiling((double)(fileToDownload.Length / 400000));

                    if (estTime >= 1)
                        Application[Request.QueryString["key"]] = String.Format("{0:0.##}", estTime / 60) + " minutes ";
                    else
                        Application[Request.QueryString["key"]] = String.Format("{0:0.##}", estTime) + " seconds ";

                    Response.WriteFile(tempFilename, intOffset, intByteSize);
                    intTotalFileDownLoaded = intOffset + intByteSize;
                    Response.Flush();
                }
                else
                {
                    //If the file was not downloaded , do nothing
                    //Logger.LoggedEntry("<" + Request.UserHostAddress + "> DOWNLOAD NOTICE- " + email +
                    //                   " was disconnected. (" +
                    //                   intTotalFileDownLoaded + " bytes out of " +
                    //                   fileToDownload.Length + " bytes)");
                    break;
                }

            }

            // If the entire file is downloaded, marked file for deletion
            if (intTotalFileDownLoaded >= fileToDownload.Length)
            {
                inCommand.ExecuteReader(); //Marked file for deletion
                //downloadCommand.ExecuteReader();// Update download info

                //if (!Convert.ToBoolean(ConfigurationManager.AppSettings["isDev"]))
                //    Logger.LoggedEntry("<" + Request.UserHostAddress + "> DOWNLOAD NOTICE-" + actualFileName + " was successfully downloaded by " + email);
            }
            reader.Close();
            //conn.Close();

        }
        catch (System.Exception ex)   // file IO errors
        {
            lblInfo.Text = "Unable to locate file. Please contact Solomon Asscociates for assistance.";
        }
        finally
        {
            if (System.IO.File.Exists(tempFilename))
                System.IO.File.Delete(tempFilename);

            conn.Close();
            Application.Remove(Request.QueryString["key"]);
        }
    }

</script>
<html>
<head>
</head>
<body>
    <p align="center">
        <font face="Tahoma" size="6">Solomon Associates</font>
    </p>
    <p align="center">
    </p>
    <p align="center">
    </p>
    <p align="center">
        <asp:Label ID="lblInfo" runat="server" Height="97px" Width="679px" Font-Bold="True"></asp:Label>
    </p>
    <p align="center">
    </p>
    <p align="center">
    </p>
</body>
</html>
